footer {
    padding:15px;
}

.social {
    text-align: right;
}

.social li {
    display:inline-block;   
    
}
.social li:before {
	content: "";
}

.social li a,
.social li a:link,
.social li a:visited {
	display: inline-block;

	width: 40px;
	height: 40px;
	/*background-color:#222;*/
	margin-right: 1rem;
	text-align:center;
	padding: 0.8125rem;
	color: #fff;
    
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	
	-webkit-box-shadow: inset 0px 0px 0px 40px #600;
	-moz-box-shadow: inset 0px 0px 0px 40px #600;
	-ms-box-shadow: inset 0px 0px 0px 40px #600;
	-o-box-shadow: inset 0px 0px 0px 40px #600;
	box-shadow: inset 0px 0px 0px 40px #600;
}

.social li a:hover,
.social li a:active,
.social li a:focus {
	-webkit-box-shadow: inset 0px 0px 0px 3px #600;
	-moz-box-shadow: inset 0px 0px 0px 3px #600;
	-ms-box-shadow: inset 0px 0px 0px 3px #600;
	-o-box-shadow: inset 0px 0px 0px 3px #600;
	box-shadow: inset 0px 0px 0px 3px #600;
	
	color:#600;
}

