.searchbox {
	background: #600;
	border-radius: 5px;	
	border-width: 1px;
	border-style: solid;
	border-color: #600;            
	width: 300px;
	height: 45px;
	padding: 10px;
	overflow: hidden;
    float:right;
}

.search {
	padding: 5px 9px;
	background: #E8E6E3;
	border-radius: 5px;
    height: 20px;
    width: 70%;
}

.submit {		
	background: #996633;
	background-image: linear-gradient(#996633, #774411);
	border-radius: 5px;		
	margin-left: 10px;
    height: 20px; 
    color: #fff;
}

.submit:hover {		
    background: #996633;
	background-image: linear-gradient(#774411, #996633);
}	