.logo {
    padding: 10px;
}

nav {
    display:inline;
}

nav ul {
    list-style-type: none;
    float:right;
}

nav ul li:before {
	content: "";
}

nav li {
    float: left;
    padding: 5px;
}

@media only screen and (min-width: 32em) {
    
    nav li {
        display:inline-block;
        padding: .5rem 1rem;
    }

    
    nav a, 
    nav a:link {
        color: #600;
        text-decoration: none;
        border-top: 0em solid #E8E6E3;
        transition: all 250ms linear;
        border-bottom: 0;
    }



    nav a:hover,
    nav a:focus,
    nav a:active {
        color: #600;
        border-top: 1em solid #600;
    }
}

@media only screen and (min-width: 57em) {
    
    nav li {
        padding-top: 0;
    }
}

.current {
    border-top: 1em solid #600;
}

.banner {
    background: #E8E6E3 url("../images/banner.jpg") no-repeat center center;
    
    text-align: center;
}

.banner h2 {
    padding-top: 500px;
    color: #fff;
}