.img-flex {
    width: 100%;
    display: block;
}

.product {
    background-color:#D1CCC7;
    border-radius: 4px;
    padding: 1em;
}

.promo-small {
    background-color:#D1CCC7;
    border-radius: 2px;
    padding: 1em;
}
    