# Accessibility Testing Report

User testing was conducted by Stacey Cowan on April 4 between the times of 4 and 5 with the following participants:

- Nichole V.
- Quyhn N.
- Elzhara
- {Theresa Doe}
- {Todd Doe}
- {Taylor Doe}

## Tasks

1. Find the green ballet shoes & add to cart.
2. Checkout.
3. Find the features of the shining star shoe.

---

## Individual Results & Observations

### Nichole V.

- Was able to complete the tasks without any real issues.

### Quyhn

- Completed the tasks without any real issues.

### Elzhara

- Completed the tasks without any real issues.

### {Theresa Doe}

- {She completed the task as expected…}
- {She had troubles completing a specific task…}
- etc.

### {Todd Doe}

- {He completed the task as expected…}
- {He had troubles completing a specific task…}
- etc.

### {Taylor Doe}

- {They completed the task as expected…}
- {They had troubles completing a specific task…}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- the links on the promos do not link properly.
- Weird lines on the products page between each box.

### Serious, Causes Frustration, May Hinder Completion



### Minor, Annoying, Won’t Hinder Completion

