# User Testing Report

User testing was conducted by Stacey Cowan on March 28th between the times of 2:30pm and 4:30pm with the following participants:

- Joey Anh Huynh
- Nichole Veiro
- David Birch

## Tasks

1. Add the green ballet shoes to the cart.
2. What are the features of the Red Knot shoes?
3. Complete a purchase.

---

## Individual Results & Observations

### Joey Anh Huynh

- Clicked on links as expected.
- Easily navigated the menus.
- A bit of issues adding to cart (button is messed up)

### Nichole Veiro

- Clicked the proper links as expected.

### David Birch

- Clicked links as expected.
- slight issue with at the cart.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Nothing apparent.

### Serious, Causes Frustration, May Hinder Completion

- Nothing apparent.

### Minor, Annoying, Won’t Hinder Completion

- Need to fix the buttons to add to cart.
- Promos don't link to the proper shoe.