<div class="promo-small">
        
        <div class="media">
        
            <div class="media-img">
                <img class="img-flex" src="{{site.baseurl}}/images/{{include.image}}" alt="">
            </div>
            
            <div class="media-body">
                <h2 class="kilo space-none">{{include.title}}</h2>
                <p><mark>Save {{include.disc}}</mark></p>
                <p class="milli">{{include.desc}}</p></p>
            </div>
        
        </div>
            
        <a class="brand-family" href="#"> More Info</a>
    
    </div>