<div class="promo-large">
        
        <a href="{{site.baseurl}}/products/{{include.url}}">
        <div class="grid">
        
            <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
                <img class="small-img" src="{{site.baseurl}}/images/{{include.image}}" alt="">
            </div>
            
            <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
                <h2 class="peta space-none">{{include.title}}</h2>
                <p class="tera"><mark>Save ${{include.disc}}!</mark></p>
                <p class="mega">{{include.desc}}</p>
                <p class="kilo">Click anywhere to learn more!</p>
            </div>
            
            </div>
            </a>
        
        </div>