<div class="promo-large">
        
        <div class="media">
        
            <div class="media-img">
                <img class="img-flex" src="{{site.baseurl}}/images/{{include.image}}" alt="">
            </div>
            
            <div class="media-body">
                <h2 class="peta space-none">{{include.title}}</h2>
                <p class="tera"><mark>Save ${{include.disc}}!</mark></p>
                <p class="kilo">{{include.desc}}</p>
                
                <a class="btn brand-family" href="#"> Buy Now!</a>
            </div>
        
        </div>