.searchbox {
    width: 300px;
	height: 45px;
	padding: 10px;
	overflow: hidden;
    float:right;
    margin-bottom: 15px;
}

.search {
	padding: 5px 9px;
	background: #600;
	border-radius: 5px;
    height: 20px;
    width: 70%;
    color: #fff;
}

.submit {		
	background: #996633;
	background-image: linear-gradient(#996633, #774411);
	border-radius: 5px;		
	margin-left: 10px;
    height: 20px; 
    color: #fff;
}

.submit:hover {		
    background: #996633;
	background-image: linear-gradient(#774411, #996633);
}	