.promo-small {
    background-color:#F0F0F0 ;
    border: 7px double #600;
    border-radius: 8px;
    padding: 1em;
}



.promo-large {
    background-color:#F0F0F0 ;
    border: 7px solid #600;
    padding: 1em;
    text-align:center;
}

