---
layout: shoes
title: Our Flats
---

<div class="grid">
        <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
            <h1>Our Flats</h1>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
            <p>Take a look at all the flats that we have.</p>
        </div>
    
</div>

<div class="grid">
        <ul class="list-fix">
        {% for shoes in site.pages %}
            {% if shoes.category == 'flats' %}
            <a href="{{site.baseurl}}{{shoes.url}}">
                <div class="unit gutter unit-s-1 unit-m-2-5 unit-l-2-5">   
                    <div class="grid">
                        <li class="product list-group-item">
                            
                            <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
                                <img class="small-img" src="{{site.baseurl}}/images/{{shoes.image}}" alt="">
                            </div>
                            
                            <div class="unit unit-s-1 unit-m-1-2 unit-l-1-2">
                                <h4 class="right">{{shoes.title}}</h4>
                                <p class="right">Click to learn more about this product.</p>
                            </div>  
                            
                        </li>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
        </ul>
    </div>