---
layout: shoes
title: Our Shoes
---

<div class="grid">
        <div class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
            <h1>Our Shoes</h1>
        </div>
        
        <div class="unit unit-s-1 unit-m-1-2 unit-l-2-3">
            <p>Take a look through all our currently available styles.</p>
        </div>
    
</div>

    
    <h2>Heels</h2>
    <ul>
    {% for shoes in site.pages %}
        {% if shoes.category == 'heels' %}
            <li>
                <a href="{{site.baseurl}}{{heels.url}}">
                <img src="http://www.placehold.it/250x250" alt="">
                {{heels.title}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>

<h2>Flats</h2>
    <ul>
    {% for shoes in site.pages %}
        {% if shoes.category == 'flats' %}
            <li>
                <a href="{{site.baseurl}}{{flats.url}}">
                <img src="http://www.placehold.it/250x250" alt="">
                {{flats.title}}
                </a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
    
