<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · The Shoe Store</title>
    <meta name="handheldfriendly" content="true">
    <meta name="mobileoptimized" content="240">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Poly:400,400italic' rel='stylesheet' type='text/css'>
    <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
</head>
<body>
    
    <header>
    
    <div class="grid grid-bottom">
        
        <div class="unit unit-s-1-3 unit-m-1-6 unit-l-1-6">
            <a href="{{site.baseurl}}/"><img class="logo" src="http://placehold.it/100x100" alt="logo"></a>
        </div>
        
        <div class="unit unit-s-1-3 unit-m-1-2 unit-l-1-2">
            <nav>
                <ul>
                    
                    <li class="brand-family mega"><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
                    <li class="brand-family mega"><a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about/">About</a></li>
                    <li class="brand-family mega"><a class="{% if page.url == '/products/' %}current{% endif %}" href="{{site.baseurl}}/products/">Shoes</a></li>
                
                </ul>
            </nav>
        </div>
        
        <div class="unit unit-s-hidden unit-m-hidden unit-l-1-3">
            <form class="searchbox" method="get" action="{{site.baseurl}}/search/">
                <input class="search" type="text" placeholder="Type here">
                <input class="submit" type="submit" value="Search">
            </form>
        </div>
        
    </div>
        
        <hr>
        
        </header>
    
    {% if page.showbanner %}
        <div class="banner">
            <h3>{{page.bannertext}}</h3>    
        </div>
    {% endif %}
    
    {{content}}
    
    <footer>
        
        <hr>
    
        <div class="grid">
            <div class="unit unit-s-2-3 unit-m-1-3 unit-l-1-3">
                <p class="milli"> Copyright © 2014</p>
            </div>
            
            <div class="unit unit-s-1-3 unit-m-2-3 unit-l-2-3">
                <ul class="social">
                <li>
                    <a href="#">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                </ul>
            
            </div>
        
                 
        </div>
    </footer>
    
</body>
</html>